<?xml version="1.0"?>
<model>
  <name>Person with Ring</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Bodyguard Drone Team</name>
    <email>team@bodyguarddrone.com</email>
  </author>
  <description>
    Human model with smart ring for panic/fall detection
  </description>
</model>
